<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Chawanwit</ion-card-subtitle>
      <ion-card-title>Hi</ion-card-title>
    </ion-card-header>
  
    <img src="https://cdn.discordapp.com/avatars/744577292264669216/d22af30ccfbb99a40a205ef1ce26cafc.png?size=4096" alt="">
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>HI my</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Holle
    </ion-card-content>
  </ion-card>
  

</ion-content>
